# ignore the Julia Manifest file (but we need Project.toml)
Manifest.toml

# ignorre vscode things
.vscode/
src/.DS_Store

# ignore intermediate output for the compiling and rendering
.quarto/
EnergyProdConformalLSTM_files/